/* common shared font */
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

#banner-container{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(../images/Banner\ Image.png);
    background-size: cover;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin:auto;
}

.banner-text{
    color: #FFF;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.happy-new-year{
    font-size: 32px;
    font-weight: 400;
    align-items: center;
    /* margin-top: -20px; */
    /* margin-bottom: 30px; */
}

.new-year-party{
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: -20px;
}